<div class="fem-resource">
  <label>{{label}}</label>
  <div class="resource-values">
    <input type="number" name="{{path}}.value" value="{{resource.value}}" />
    <span>/</span>
    <input type="number" name="{{path}}.max" value="{{resource.max}}" />
    <input class="temp" type="number" name="{{path}}.temp" value="{{resource.temp}}" title="Temporario" />
  </div>
</div>
